<h2 mat-dialog-title><font size="+2">Chocolate Bagel</font></h2>
<hr>
<mat-dialog-content class = "Schmear">
    <font size="+2"> Please Choose Schmear: </font>
</mat-dialog-content>
<mat-form-field>
  <mat-select #foodSelect>
    <mat-option *ngFor="let food of foodType" [value]="food.value">
        <font size="+2">{{food.viewValue}}</font>
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<br>
<mat-dialog-content class = "qty">
    <font size="+2">Please Choose Quantity:</font>
</mat-dialog-content>
<mat-form-field>
    <mat-select #foodSelect>
      <mat-option *ngFor="let food of foodQty" [value]="food.value">
          <font size="+2">{{food.viewValue}}</font>
      </mat-option>
    </mat-select>
</mat-form-field>
<br>

<button class ='primary' (click)="submit(foodSelect)"><font size="+2">Confirm</font></button>